body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'gomarice_game_music_love';
  src: local('gomarice_game_music_love'),
    url(./assets/game-music-love/gomarice_game_music_love.ttf)
      format('truetype');
}

* {
  font-family: 'Orbitron', sans-serif;
}
